# Maven build directory
/target/

# Gradle build directory
/build/

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
*.iml
*.ipr
*.iws
.idea/

# VS Code project files
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Backup and temporary files
*.swp
*.swo
*~
